<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogUp</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="../resources/style.css" />
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  </head>

  <body>
    <div class="login-dark">
      <form action="register" method="post">
        <!-- <h2 class="sr-only">Login Form</h2> -->
        <div class="illustration">
          <ion-icon name="person-add-outline"></ion-icon>
        </div>
        <div class="form-group">
          <label for="user"> User name</label>
          <input class="form-control" type="text" name="user" required />
        </div>
        
        <div class="form-group">
          <label for="role">Rol</label>
          <br />
          <select name="rol" id="rol">
            <option value="1">Teacher</option>
            <option value="2">Student</option>
          </select>
        </div>
        <div class="form-group">
          <label for="pass">Password</label>
          <input class="form-control" type="password" name="pass" required />
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Log Up
          </button>

          <a class="btn btn-secondary btn-block" href="/login">Cancel</a>
        </div>
      </form>
    </div>
   
    
    
    
    <% if(typeof alert != "undefined" ) { %>
    <script>
      Swal.fire({

        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alertIcon %>',
        showConfirmButton: <%= showConfirmButtom %>,
        timer: <%= timer %>

      }).then(()=>{
        window.location= '<%= ruta %>'
      })

      
    </script>
    <% } %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    
  </body>
</html>
